body {
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.popup-title {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
}

.popup-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

button {
    display: flex;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    background-color: #4CAF50;
    color: rgb(235, 12, 12);
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #3e8e41;
}

